.fill-height {
    height: 100vh;
    max-height: 100vh;
}

.fill-width {
    width: 100vw;
    max-width: 100vw;
}

.d-flex {
    display: flex;
    flex-flow: row nowrap;
}

.flex-col {
    flex-flow: column nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-space {
    justify-content: space-around;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.mt-1 {
    margin-top: 1em;
}

.mt-05 {
    margin-top: 0.5em;
}

.ms-1 {
    margin-left: 1em;
    margin-right: 0.5em;
}

.ms-3 {
    margin-left: 3em;
    margin-right: 3em;
}

.spacer {
    width: 6rem
}

.section-spacer {
    height: 5vh;
}