@use './index' as *;

$border-width: 5px;


.left {
    width: 60vw;
    background: url('../../src/assets/img/daniel-cheung-ZqqlOZyGG7g-unsplash.jpg') #EFEAE6 bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    width: 40vw;
    align-items: center;
}

hr.divider {
    width: 80%;
    border-top: 2px solid #c4c4c4;
}


.bubble {
    height: 125px;
}

.socials {
    max-width: 10vw;
    .fai {
        margin: 0.5em 0.3em 0em 0.3em;
        cursor: pointer;
        font-size: 2rem;
        color: rgb(43, 43, 43)
    }
    .fai-at {
        background-color: rgb(43,43,43);
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 4px;
        margin: 1em 0.6em 0em 0.6em;
        cursor: pointer;
        .fai-at-inner {
            color: #fff;
            font-size: 1.35rem;
            
        }
    }
}


// .contact-gabrielle, .contact-axel {
//     height: 5vh;
//     .fai {
//         cursor: pointer;
//         font-size: 2rem;
//         &-gabrielle {
//             color: rgb(43, 43, 43);
//         }
//         &-axel {
//             color: green;
//         }
//     }
// }

// .profile-bubbles {
//     height: 125px;
// }

// .bubble {
//     height: 20vh;
//     border-radius: 50%;
// }



// LEGO PAINTER
// Photo by <a href="https://unsplash.com/@danielkcheung?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Cheung</a> on <a href="https://unsplash.com/s/photos/lego?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>