@use './index' as *;

$border-width: 5px;


.left {
    display: none;
    @include mq(md) {
        display: flex;
        flex: 0 1 60vw;
        background: url('../../src/assets/img/jackson-simmer-ZxRHtPacwUY-unsplash.jpg') #EFEAE6 bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @include mq(lg) {
        background: url('../../src/assets/img/daniel-cheung-ZqqlOZyGG7g-unsplash.jpg') #EFEAE6 bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.right {
    width: 100vw;
    align-items: center;
    margin-top: 2em;
    @include mq(sm) {
        margin-top: 3em;
    }
    @include mq(md) {
        margin-top: 0em;
        flex: 1 0 768px;
    }
}

hr.divider {
    width: 80%;
    border-top: 2px solid #c4c4c4;
}

.contact-cards {
    display: flex;
    flex-flow: column nowrap;
    @include mq(sm) {
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    &-gabrielle, &-axel {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 3em;
        justify-content: center;
        @include mq(sm) {
            flex-flow: column nowrap;
        }
    }
}



.bubble {
    height: 125px;
    @include mq(sm) {
        height: 200px;
    }
}

.socials {
        max-width: 150px;
    .fai {
        color: rgb(43, 43, 43);
        font-size: 2rem;
        margin: 0.5em 0.3em 0em 0.3em;
        @include mq(sm) {
            margin: 0.5em 0.3em 0em 0.3em;
            cursor: pointer;
            font-size: 3rem;
        }
    }
    .fai-at {
        background-color: rgb(43,43,43);
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 4px;
        margin: 1em 0.6em 0em 0.6em;
        cursor: pointer;
        .fai-at-inner {
            color: #fff;
            font-size: 1.35rem;
            
        }
    }
}

.email-container {
    cursor:  pointer;
}

#copy_tooltip {
    display: block;
    font-size: 80%;
    z-index: 999;
    position: absolute;
    margin-top: -3rem;
    margin-left: -0rem;
    background: #AC0230;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 4px;
    opacity: 0;        

    &.active {
        -webkit-animation: slide-up 0.15s cubic-bezier(.51, .92, 0.265, 1.55) both;
                animation: slide-up 0.15s cubic-bezier(.51, .92, 0.265, 1.55) both;
    }
    &.inactive {
        -webkit-animation: slide-up 0.1s cubic-bezier(.250, .460, .450, .940) reverse both;
                animation: slide-up 0.1s cubic-bezier(.250, .460, .450, .940) reverse both;
    }

    &:after {
        content: '';
        position: absolute;
        top: 98%;
        left: 50%;
        margin-left: -8px;
        width: 0; height: 0;
        border-top: 8px solid #AC0230;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
    }
}

@-webkit-keyframes slide-up {
    0% {
        -webkit-transform: translateY(0) scale(.8);
                transform: translateY(0) scale(.8);
        opacity: 0;         
    }
    100% {
        -webkit-transform: translateY(-35px) scale(1);
                transform: translateY(-35px) scale(1);
        opacity: 1;
    }
}
@keyframes slide-up {
    0% {
        -webkit-transform: translateY(0) scale(.8);
                transform: translateY(0) scale(.8);
        opacity: 0;         
    }
    100% {
        -webkit-transform: translateY(-35px) scale(1);
                transform: translateY(-35px) scale(1);
        opacity: 1;
    }
}


.hide {
    visibility: hidden;
    @include mq(sm) {
        visibility: visible;
    }
}



// LEGO PAINTER
// Photo by <a href="https://unsplash.com/@danielkcheung?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Cheung</a> on <a href="https://unsplash.com/s/photos/lego?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
// LEGO BROKEN
// Photo by <a href="https://unsplash.com/@simmerdownjpg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jackson Simmer</a> on <a href="https://unsplash.com/s/photos/lego?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  